body {
    color: rgba(0, 0, 0, .5);
}

.nav a {
    color: #5a5a5a;
    #color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.thumbnail {
    width: 240px;
    height: 450px;
    overflow: auto;
}
.caption {
    position: absolute;
    top: 340px;
}

.thumbnail img {
    padding: 2px 2px;
}

.fade {
    opacity: 1;
}

.fade:hover {
    opacity: .85;
}

.caption p {
    font-weight: bold;
}

.caption h3 {
   /* font: 17px Arial, sans-serif;*/
    font-size:15px;
    font-family: verdana;
    margin: 0;
    padding-bottom: 3px;
    padding-top: 8px;
    color: #232121;
}

.caption h3 span#year {
    color: silver;
    font-size: 14px;
    font-family: verdana;
    line-height: 100%;
}

.infoText {
    font-size: 10px;
    font-family: verdana;
    color: #708090;
}

.gi-5x {
    font-size: 5em;
}

.gi-4x {
    font-size: 4em;
}

.gi-3x {
    font-size: 2.5em;
}

.gi-2x {
    font-size: 2em;
}

.gi-1x {
    font-size: 1.3em;
}

.gold {
    color: #e6c200;
}

.rating {
    color: #1a1600;
    font-family: verdana;
    font-size: 18px;
    
}

.ten {
    font-size: 11px;
    color: silver;
    font-family: verdana;
}

.bookmark {
    position: absolute;
    /*  color: rgba(39, 97, 147, 0.63);*/
    opacity: .8;
}

.bookmark-none {
    position: absolute;
    color: #84909A;
}

.nav li {
    display: inline;
}

.intro-body {
    /*background-image: url('https://uni-plovdiv.bg/uploads/site/filiali/smolian/jpg/abstract_minimalistic_white_www.wallmay.net_14.jpg');*/
    height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: -moz-linear-gradient(to bottom,rgba(190,190,190,0),rgba(190,190,190,1)); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, .03), rgba(0, 0, 0, .15));
    /*Standard*/
    /* z-index: 1;*/
}

.modal-header, h4, .close
{
    background-color: #00C5CD;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.close_login {
    color: grey !important;
    position: fixed;
    right: 10px;
    top: 5px;
}


/*guest login button styles */


/*OR div*/

#guest_login_or {
    width: 100%;
    text-align: center;
    height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    margin-top: 18px;
}

#guest_login_or_span {
    color: dimgrey;
    font-size: 20px;
    background-color: white;
    padding: 0 30px;
    font-family: 'Quicksand', sans-serif;
    font-stretch: ultra-condensed;
}

#login_banner {
    position: absolute;
    top: 0;
    left: 0;
}

#login_banner_image {
    opacity: .15;
}

#login_banner_title {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

#login_banner_bullets {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: black;
}


/*favicon*/
.favIcon {
    padding-left: 112px;
    color: #DC0808;
    vertical-align: baseline;
}
.favIconEmpty {
    padding-left: 112px;
   color: #4D5052;
    vertical-align: baseline;
}